@using ASPDotNetCrud.Utility;
@using static ASPDotNetCrud.Utility.SessionUtility;
@{
    User? user = (User?)ViewData["user"];
    ViewData["Title"] = "user";
}

<div class="text-center">

    <h1 class="display-4">welcome @user?.name</h1>
    <div class="row">
        <div class="col justify-content-lg-start">
            @if (!(user?.profilePicture == null || user?.profilePicture == ""))
            {
                <img class="user-img" src="~/uploadImages/@user?.profilePicture">
            }
             <a class="btn bg-orange t-color-white px-4" href="@Url.Action("UploadProfilePic", "userControllers")">change profile picture</a>
       </div>
       <div class="col">
           <h1 class="display-6">posts</h1>
       </div>
    </div>
    <div class="row">
    </div>
    <div class="row ">
        <div class="col text-end">
            <a class="btn bg-orange t-color-white px-4" href="@Url.Action("Logout", "userControllers")">Logout</a>
        </div>
    </div>
    

</div>
