@using ASPDotNetCrud.Utility;
@*@using static ASPDotNetCrud.Utility.SessionService;*@
@{
    User? user = (User?)ViewData["user"];
    ViewData["Title"] = "user";
}

<div class="text-center">

    <h1 class="display-4">welcome @user?.name</h1>
    <div class="row">
        <div class="col justify-content-center ">

            @if (!(user?.profilePicture == null || user?.profilePicture == ""))
            {
                <img class="user-img" src="~/uploadImages/@user?.profilePicture">
            }

            <div class="d-flex justify-content-center">
                <form asp-action="UploadProfilePic" asp-controller="userControllers" method="post" enctype="multipart/form-data">
                    <input class="form-control bg-orange t-color-white" name="imageFile" type="file" id="imageFile" accept=".jpg, .jpeg, .png">
                    <button type="submit" class="btn bg-orange t-color-white px-4">Upload Image</button>
                </form>
            </div>

       </div>
       <div class="col">
           <h1 class="display-6">posts</h1>
       </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
        <div class="col text-end">
            <a class="btn bg-orange t-color-white px-4" href="@Url.Action("Logout", "userControllers")">Logout</a>
        </div>
    </div>
    

</div>
